# templates/python/template/{{ project_slug }}/devenv.nix.jinja
{ pkgs, config, ... }: {
  languages.python = {
    enable = true;
    version = "{{ python_version }}";
    uv.enable = true;
  };

  scripts = {
    test.exec = "pytest \"$@\"";
    format.exec = "ruff format src/ tests/";
    lint.exec = "ruff check src/ tests/";
  };

  {% if services %}
  services = {
    {% for service in services.split(',') %}
    {{ service.strip() }}.enable = true;
    {% endfor %}
  };
  {% endif %}

  outputs = {
    {{ package_name }} = config.languages.python.import ./. {};
  };
}
